.main-bottom-nav {
  width: 100vw;
  max-width: 500px;
  height: 60px;
  background: #191919;
  border-top: 1.5px solid #ffe6b0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 2;
  box-sizing: border-box;
}

.nav-icon {
  font-size: 1.7rem;
  transition: opacity 0.2s;
}

.nav-img {
  width: 28px;
  height: 28px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
} 